.page-error {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .pe-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;

    .big {
      font-size: 40px;
      line-height: 44px;
      display: block;
      margin-bottom: 8px;
    }

    .small {
      font-size: 20px;
      line-height: 22px;
      display: block;
    }
  }

  .pe-content {
    text-align: center;
    margin-bottom: 48px;
  }

  .footer-btn {
    text-align: center;
  }
}
