:root {
  --vt-c-white: #ffffff;
  --soda-black-text: #000000;

  --soda--primary: #40b883;
  --soda-footer: #58595b;
  --soda-warning: #e2b93b;
  --soda-info: #2f80ed;
  --soda-success: #27ae60;
  --soda-error: #eb5757;
  --soda--primary-02: #a0dcc1;
  --soda--primary-03: #025f4c;
  --section-gap: 160px;
  --soda-grey-b: #828282;
  --soda-grey-5: #e0e0e0;

  --soda-light-grey-border: #bdbdbd;
  --soda-icon-info: #008bf7;
  --soda-border-grey-block: #f2f4f8;
}
